<div class='login-wrapper'>
  <h1>Welcome to Saidit</h1>
  <h2>The front page of the internet!</h2>

  <%= render 'shared/credentials', action: session_url, button_text: "Login" %>
  <input type='submit' class='btn btn-primary' id='guest-login' value='Guest Login'>
</div>