<h1>Reply to <%= @comment.author.username %></h1>

<%= render 'comment', comment: @comment %>

<% new_comment = @comment.child_comments.new(post_id: @comment.post_id) %>

<%= render 'form', comment: new_comment %>