<form action="<%= action %>", method='POST'>
  <%= auth_token %>
  
  <label for="username">Username</label>
  <input type="text", id="username", name="user[username]"></input>
  <label for="password">Password</label>
  <input type="password", id="password", name="user[password]"></input>

  <input type='submit', value="<%= button_text %>">
</form>