<div class='login-status'>
  <% if logged_in? %>
    Welcome, <%= current_user.username %>!
    <%= link_to "Log out", session_url, method: :delete %>
  <% else %>
    Welcome to Bluit! <%= link_to "Log in", new_session_url  %> or 
    <%= link_to "Register", new_user_url %>
  <% end %>
</div>